<div id="cookie" class="b-modal__modal b-ta_center">

    <div class="b-modal__title b-h3 b-color_gold">{{ macros.svgIcon('warning') }} COOKIE - ФАЙЛЫ</div>

    <div class="b-modal__desc">
        <p>На сайте Мойбизнес.ru используются cookie-файлы и другие аналогичные технологии. Если, прочитав это сообщение, Вы остаетесь на нашем сайте, это означает,
            что Вы не возражаете против использования этих технологий.</p>
    </div>

    <div class="b-space_md"></div>
    <div class="b-space_md"></div>

    <button type="button" data-fancybox-close class="b-btn b-btn_shadow b-btn_h49 b-btn_red">Хорошо</button>

</div>