<div id="recover" class="b-modal__modal b-modal__modal_w642">

    <div class="b-modal__title b-h5">ВОССТАНОВЛЕНИЕ</div>

    <div class="b-modal__desc">
        <p>Данные для восстановления пароля будут высланы Вам на e-mail, указанный при регистрации.</p>
    </div>

    <div class="b-space_sm"></div>

    <form action="">
        <input type="email" class="app__field" placeholder="E-mail">

        <input type="submit" class="b-modal__submit" value="Выслать">
    </form>

</div>