<div id="signup" class="b-modal__modal b-modal__modal_w642">

    <div class="b-modal__title b-h5">РЕГИСТРАЦИЯ</div>

    <form action="">
        <input type="text" class="app__field" placeholder="Имя">

        <input type="email" class="app__field" placeholder="Адрес e-mail">

        <input type="tel" class="app__field" placeholder="Телефон">

        <input type="submit" class="b-modal__submit" value="Зарегистрироваться">

        <div class="b-space_sm"></div>

        <label class="app__checkbox">
            <input type="checkbox">
            <i></i>
            <span>Заполняя форму, я согласен получать информационную рассылку от проекта и партнеров проекта, а также сокласен с политикой конфиденциальности</span>
        </label>
    </form>

</div>