<div id="signin" class="b-modal__modal b-modal__modal_w642">

    <div class="b-modal__title b-h5">АВТОРИЗАЦИЯ</div>

    <form action="">
        <input type="text" class="app__field" placeholder="Логин">

        <input type="password" class="app__field" placeholder="Пароль">

        <label class="app__checkbox">
            <input type="checkbox">
            <i></i>
            <span>Запомнить меня</span>
        </label>

        <input type="submit" class="b-modal__submit" value="Войти">
    </form>

    <div class="b-space_sm"></div>

    <div class="b-row b-row_space b-modal__desc">
        <div class="b-col">
            <a href="#recover" class="js-modal-open">Забыли свой пароль?</a>
        </div>
        <div class="b-col">
            <a href="#signup" class="js-modal-open">Зарегистрироваться</a>
        </div>
    </div>

    <div class="b-space_sm"></div>

    <div class="b-modal__desc">
        <p>Если Вы впервые на сайте, заполните, пожалуйста, регистрационную форму.</p>
    </div>

</div>