{% extends 'base.njk' %}

{% set pageName = 'О центре “Мой бизнес”' %}
{% set breadcrumbs = [{'name':'Главная','url':'index'}] %}

{% import 'components/_macros.njk' as macros %}

{% block content %}

    <section class="page content">
        {% include 'parts/_pager.njk' %}

        <h2 class="block-title page__title">
            <i>
                {{ macros.svgIcon('building','gold','','','35px') }}
            </i>
            <span>О центре «Мой бизнес»</span>
        </h2>

        <div class="video va-middle">
            <div class="video__text va-middle">
                <iframe src="https://www.youtube.com/embed/2A-lL6m4m4E" class="video__title" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div><!--video__text-->
        </div><!--video-->

        <div class="text-block">
            <h3 class="block-title">
                <i>
                    {{ macros.svgIcon('building','gold','','','35px') }}
                </i>
                <span>О центре</span>
            </h3>

            <p>
                Центр «Мой бизнес» – это единая площадка предоставления
                государственных и муниципальных услуг для субъектов
                малого и среднего предпринимательства по принципу
                «одного окна». Предприниматели и те, кто только
                планирует заняться бизнесом могут воспользоваться
                комфортными условиями и получить все необходимые
                инструменты для реализации своей идеи, от консультации
                до оформления микрозайма, в одном месте.
            </p>

            <p>
                Центры «Мой бизнес» создаются во всех регионах
                Российской Федерации в рамках реализации национального
                проекта «Малое и среднее предпринимательство и
                поддержка индивидуальной предпринимательской инициативы».
            </p>

        </div><!--text-block-->

        <div class="how">
            <p class="how__title">
                КАК ЭТО РАБОТАЕТ
            </p>

            <div class="how__list spacer">
                <div class="how__item">
                    <span class="how__item-icon">
                        {{ macros.svgIcon('globus','brown5','','pos-center icon-how-1') }}
                    </span>

                    <p class="how__item-desc">
                        Вы оставляете заявку на сайте или
                        <span class="br">посещаете офис центра “Мой</span>
                        бизнес”
                    </p>

                </div><!--how__item-->

                {{ macros.svgIcon('arrow-right','red','','icon-how-arrow') }}

                <div class="how__item">
                    <span class="how__item-icon">
                        {{ macros.svgIcon('check-tablet','brown5','','pos-center icon-how-2') }}
                    </span>

                    <p class="how__item-desc">
                        получаете консультацию об услугах,
                        <span class="br">предоставляемых в центре “Мой</span>
                        бизнес” и порядке получения услуг
                    </p>

                </div><!--how__item-->

                {{ macros.svgIcon('arrow-right','red','','icon-how-arrow') }}

                <div class="how__item">
                    <span class="how__item-icon">
                        {{ macros.svgIcon('like-plus','brown5','','pos-center icon-how-3') }}
                    </span>

                    <p class="how__item-desc">
                        опытные специалисты дадут
                        <span class="br">рекомендации и предложат инструменты</span>
                        государственной поддержки
                    </p>

                </div><!--how__item-->

            </div><!--how__list-->

        </div><!--how-->

        <div class="text-block">
            <p>
                В Кировской области на базе Центра «Мой бизнес»
                предприниматели могут воспользоваться следующими видами услуг:
            </p>

            <h3 class="block-title">
                <i>
                    {{ macros.svgIcon('cash-outline','gold') }}
                </i>
                <span>Льготное кредитование:</span>
            </h3>

            <ul>
                <li>
                    Предоставление микрозаймов действующим СМСП
                    (до 4 млн. рублей сроком до 36 месяцев);

                </li>

                <li>
                    Предоставление займов начинающим предпринимателям
                    (до 0,5 млн. рублей сроком до 36 месяцев).
                </li>

            </ul>

            <h3 class="block-title">
                <i>
                    {{ macros.svgIcon('cash-outline','gold') }}
                </i>
                <span>Гарантийное кредитование:</span>
            </h3>

            <ul>
                <li>
                    Данное направление финансовой поддержки малого и среднего
                    предпринимательства направлено на предоставление поручительств
                    по банковским кредитам СМСП в случае нехватки имущественного
                    обеспечения по ним;
                </li>

                <li>
                    поручительством Фонда обеспечивается исполнение обязательств
                    Заемщика/Принципала до 70% от суммы кредита, оставшаяся
                    часть должна быть обеспечена залогом в размере не менее
                    30% от суммы кредита и уплаты процентов на нее.
                </li>

            </ul>

            <h3 class="block-title">
                <i>
                    {{ macros.svgIcon('message','gold') }}
                </i>
                <span>Информационно-консультационная поддержка:</span>
            </h3>

            <ul>
                <li>
                    Бесплатные консультационные услуги для СМСП по вопросам
                    финансового планирования, маркетингового сопровождения
                    деятельности, бизнес-планирования, правового обеспечения,
                    услуги по подбору персонала и применению трудового законодательства;
                </li>

                <li>
                    Проведение для СМСП бесплатных семинаров и форумов;
                </li>

                <li>
                    Организация специальных программ бесплатного обучения
                    для СМСП с целью повышения их квалификации по вопросам
                    осуществления предпринимательской деятельности, правовой
                    охраны и использования результатов интеллектуальной
                    деятельности, реализации инновационной продукции и
                    экспорта товаров (работ, услуг);
                </li>

                <li>
                    Обеспечение участия СМСП на бесплатной основе в
                    выставочно-ярмарочных и конгрессных мероприятиях,
                    межрегиональных бизнес-миссиях на территории Российской
                    Федерации в целях продвижения товаров (работ, услуг) СМСП,
                    развития предпринимательской деятельности, в том
                    числе стимулирования процесса импортозамещения
                </li>

            </ul>

            <h3 class="block-title">
                <i>
                    {{ macros.svgIcon('finish','gold') }}
                </i>
                <span>Содействие развитию территориальных кластеров:</span>
            </h3>

            <ul>
                <li>
                    Оказание маркетинговых услуг, услуг по брендированию,
                    позиционированию и продвижению новых продуктов (услуг) предприятий МСП,
                    являющихся участниками кластеров на бесплатной основе.;
                </li>

                <li>
                    Организация и проведение обучающих тренингов, семинаров,
                    круглых столов с целью обучения сотрудников предприятий
                    МСП, являющихся участниками кластера;
                </li>

                <li>
                    Проведение информационных кампаний в СМИ для
                    предприятий-участников кластер;
                </li>

                <li>
                    Разработка технико-экономических обоснований
                    инфраструктурных проектов кластера;
                </li>

                <li>
                    Организация участия предприятий МСП, являющихся
                    участниками кластеров, на отраслевых российских
                    и зарубежных выставочных площадках;
                </li>

                <li>
                    Организация работ по обеспечению соответствия
                    продукции предприятий МСП, являющихся участниками
                    кластеров, требованиям потребителей в целях выхода
                    на новые рынки сбыта;
                </li>

            </ul>

            <h3 class="block-title">
                <i>
                    {{ macros.svgIcon('export','gold','','','35px') }}
                </i>
                <span>Поддержка экспорта Кировской области:</span>
            </h3>

            <ul>
                <li>
                    Информационно-консультационная поддержка экспортно-ориентированных субъектов МСП;
                </li>

                <li>
                    Софинансирование международной сертификации продукции для экспортов;
                </li>

                <li>
                    Организация участия в международных выставочных и конгрессных мероприятиях;
                </li>

                <li>
                    Организация встреч и переговоров с иностранными партнерами.
                </li>

            </ul>

        </div><!--text-block-->

        <div class="registration">
            <form action=".php" class="registration__form">
                <div class="registration__left">
                    <p class="registration__title">Зарегистрироваться</p>
                    <div class="registration__fields spacer">
                        <label class="registration__label">
                            <input type="text" name="name" class="registration__field">
                            <span class="registration__placeholder">Ваше имя<em>*</em></span>
                        </label>

                        <label class="registration__label">
                            <input type="text" name="email" class="registration__field">
                            <span class="registration__placeholder">Адрес e-mail<em>*</em></span>
                        </label>

                        <label class="registration__label">
                            <input type="text" name="phone" class="registration__field">
                            <span class="registration__placeholder">Телефон<em>*</em></span>
                        </label>

                    </div><!--registration__fields-->

                    <label class="registration__privacy">
                        <input type="checkbox">
                        <i></i>
                        <span>
                        ЗАПОЛНЯЯ ФОРМУ, Я СОГЛАСЕН ПОЛУЧАТЬ ИНФОРМАЦИОННУЮ
                        РАССЫЛКУ ОТ ПРОЕКТА И ПАРТНЕРОВ ПРОЕКТА, А ТАКЖЕ
                        СОГЛАСЕН С ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ
                    </span>
                    </label>

                </div><!--registration__left-->

                <button class="registration__btn">Зарегистрироваться</button>

            </form>

        </div><!--registration-->

    </section><!--page-->

{% endblock content %}
