{% extends 'base.njk' %}

{% set pageName = 'Центр поддержки предпринимательства' %}
{% set breadcrumbs = [
    {'name':'Главная','url':'index'}
] %}
{% set asideActiveId = 1 %}

{% import 'components/_macros.njk' as macros %}

{% block content %}

    <section class="page content">
        {% include 'parts/_pager.njk' %}

        <h2 class="block-title block-title_big-icon page__title">
            <i>
                {{ macros.svgIcon('arator','gold') }}
            </i>
            <span>Центр кластерного развития</span>
        </h2>

        <div class="page__content flex-container">
            {% include 'parts/_cluster-aside.njk' %}

            <div class="page__right">
                <div class="about">
                    <p>
                        <strong>Чем занимается Центр кластерного развития?</strong>
                    </p>

                    <p class="mb-fix">
                        В рамках реализации государственной программы Кировской области «Развитие предпринимательства и внешних связей» на 2013 – 2020 годы, утвержденной постановлением Правительства Кировской области от 10.12.2012 № 185/741, в январе 2018 года на базе Кировского областного фонда поддержки предпринимательства начал работу Центр кластерного развития.
                    </p>

                    <p class="mb-fix">
                        Деятельность ЦКР нацелена на совместное с бизнесом продвижение процессов развития территориальных кластеров и оказание комплексной поддержки со стороны государства.
                    </p>

                    <p>
                        <strong>Все услуги ЦКР:</strong>
                    </p>

                    <ol>
                        <li>
                            1. Оказание маркетинговых услуг, услуг по брендированию, позиционированию и продвижению новых продуктов (услуг) предприятий МСП, являющихся участниками кластеров.
                        </li>

                        <li>
                            2. Организация и проведение обучающих тренингов, семинаров, круглых столов с привлечением сторонних преподавателей (тренеров) с целью обучения сотрудников предприятий МСП, являющихся участниками кластеров.
                        </li>

                        <li>
                            3. Проведение информационных кампаний в СМИ для предприятий МСП, являющихся участниками кластеров.
                        </li>

                        <li>
                            4. Разработка технико-экономических обоснований инфраструктурных проектов кластера.
                        </li>

                        <li>
                            5. Организация участия предприятий МСП, являющихся участниками кластеров, на отраслевых российских и зарубежных выставочных площадках.
                        </li>

                        <li>
                            6. Организация работ по обеспечению соответствия продукции предприятий МСП, являющихся участниками кластеров, требованиям потребителей в целях выхода на новые рынки сбыта.
                        </li>

                    </ol>

                    <p class="mb-fix">
                        Услуги предоставляются субъектам малого и среднего предпринимательства - участникам территориальных кластеров на полностью или частично платной основе.
                    </p>

                    <p class="mb-fix">
                        Центр работает в соответствии с приказом Минэкономразвития России от 14.02.2018 № 67
                    </p>

                    <p class="mb-fix">
                        Концепция развития ЦКР Кировской области на 2017 год и плановый период 2018-2019 годы
                    </p>

                </div><!--about-->

                <div class="links">
                    <a href="#" class="links__link">
                        <svg class="svg-icon icon-link-1"><use xlink:href="#icon-link-1"></use></svg>
                        <span>Итоги работы</span>
                    </a>

                    <a href="#" class="links__link">
                        <svg class="svg-icon icon-link-3"><use xlink:href="#icon-link-3"></use></svg>
                        <span>Реестр получателей <br> поддержки</span>
                    </a>

                </div>
            </div>

        </div>
    </section>

    {% include 'parts/_question.njk' %}

{% endblock content %}
