{% extends 'base.njk' %}

{% set pageName = 'Конкурсы и закупки' %}
{% set breadcrumbs = [{'name':'Главная','url':'index'}] %}

{% import 'components/_macros.njk' as macros %}

{% block content %}

    <section class="page content">
        {% include 'parts/_pager.njk' %}

        <div class="contests">
            <div class="contests__links">
                <span class="contests__link">
                    {{ macros.svgIcon('cash','gold','','','28px') }}
                    <span>Закупки</span>
                </span>

                <span class="contests__link">
                    {{ macros.svgIcon('position','gold') }}
                    <span>Конкурсы</span>
                </span>

            </div><!--contests__links-->

            <div class="contests__tabs">
                <div class="contests__tab active">
                    <h2>
                        {{ macros.svgIcon('cash','gold','','','48px') }}
                        <span>Закупки 2019</span>
                    </h2>

                    <h3>
                        Текущие:
                    </h3>

                    <p>
                        Проводится отбор кредитных организаций на право заключения
                        с КОФПМСП МКК соглашений о сотрудничестве по предоставлению
                        Фондом поручительств субъектам малого и среднего
                        предпринимательства
                    </p>

                    <h3>
                        Завершенные:
                    </h3>

                    <p>
                        Объявление отбора контрагентов на право заключения договоров
                        оказания информационных и образовательных услуг СМСП и физическим лицам,
                        заинтересованным в начале осуществления предпринимательской деятельности
                    </p>

                    <h3>
                        Итоги:
                    </h3>

                    <p>
                        Объявление отбора контрагентов на право заключения договоров
                        оказания информационных и образовательных услуг СМСП и физическим лицам,
                        заинтересованным в начале осуществления предпринимательской деятельности
                    </p>

                </div><!--contests__tab-->

                <div class="contests__tab">
                    <h2>
                        {{ macros.svgIcon('position','gold','','','35') }}
                        <span>Конкурсы 2019</span>
                    </h2>

                    <h3>
                        Текущие:
                    </h3>

                    <p>
                        Проводится отбор кредитных организаций на право заключения
                        с КОФПМСП МКК соглашений о сотрудничестве по предоставлению
                        Фондом поручительств субъектам малого и среднего
                        предпринимательства
                    </p>

                    <h3>
                        Завершенные:
                    </h3>

                    <p>
                        Объявление отбора контрагентов на право заключения договоров
                        оказания информационных и образовательных услуг СМСП и физическим лицам,
                        заинтересованным в начале осуществления предпринимательской деятельности
                    </p>

                    <h3>
                        Итоги:
                    </h3>

                    <p>
                        Объявление отбора контрагентов на право заключения договоров
                        оказания информационных и образовательных услуг СМСП и физическим лицам,
                        заинтересованным в начале осуществления предпринимательской деятельности
                    </p>

                </div><!--contests__tab-->

            </div><!--contests__tabs-->

        </div>

    </section><!--page-->

{% endblock content %}
