{% extends 'base.njk' %}

{% set pageName = 'Центр поддержки предпринимательства' %}
{% set breadcrumbs = [
    {'name':'Главная','url':'index'}
] %}
{% set asideActiveId = 1 %}

{% import 'components/_macros.njk' as macros %}

{% block content %}

    <section class="page content">
        {% include 'parts/_pager.njk' %}

        <h2 class="block-title block-title_big-icon page__title">
            <i>
                {{ macros.svgIcon('export', 'gold') }}
            </i>
            <span>Центр поддержки экспорта</span>
        </h2>

        <div class="page__content flex-container">
            {% include 'parts/_export-aside.njk' %}

            <div class="page__right">
                <div class="about">
                    <p>
                        <b>Информационная поддержка участников ВЭД:</b>
                    </p>

                    <ul>
                        <li>
                            продвижение информации о предприятиях области на российских и зарубежных Интернет-ресурсах;
                        </li>

                        <li>
                            создание и развитие регионального сайта по поддержке экспорта;
                        </li>

                        <li>
                            установление контактов с зарубежными бизнес-ассоциациями, поиск деловых партнеров и иностранных инвесторов для предприятий области;
                        </li>

                        <li>
                            издание и рассылка презентационных материалов об экспортерах Кировской области (в печатном и электронном виде);
                        </li>

                        <li>
                            подготовка справок и обзоров зарубежных рынков сбыта, а также обзоров проводимых за рубежом деловых мероприятий.
                        </li>

                        <li>
                            проведение семинаров по актуальным вопросам ведения ВЭД.
                        </li>

                    </ul>

                    <p>
                        <strong>Консультационная поддержка участников ВЭД:</strong>
                    </p>

                    <ul>
                        <li>
                            предоставление юридических консультаций по вопросам внешнеэкономической деятельности и таможенного законодательства;
                        </li>

                        <li>
                            подготовка и экспертиза документов для создания предприятий с иностранными инвестициями, зарубежных филиалов предприятий;
                        </li>

                        <li>
                            услуги по переводу с иностранных языков и на иностранные языки деловых писем, коммерческих и юридических документов, рекламно-информационных материалов, научно-технических текстов, товарно-сопроводительной документации;
                        </li>

                        <li>
                            организация маркетинговых исследований рынков зарубежных стран.
                        </li>

                    </ul>

                    <p>
                        <strong>Организация встреч и переговоров с иностранными партнерами:</strong>
                    </p>

                    <p class="mb-fix">
                        организация «деловых миссий» - коллективных поездок предпринимателей области для переговоров с иностранными партнерами; организация участия кировских предприятий в международных конгрессно-выставочных мероприятиях; организация приема делегаций зарубежных предпринимателей.
                    </p>

                    <p>
                        <em>Все услуги Центра поддержки экспорта предоставляются на безвозмездной основе.</em>
                    </p>

                </div>
            </div>

        </div>
    </section>

    {% include 'parts/_question.njk' %}

{% endblock content %}
