{% extends 'base.njk' %}

{% set pageName = 'Центр поддержки предпринимательства' %}
{% set breadcrumbs = [
    {'name':'Главная','url':'index'}
] %}
{% set asideActiveId = 1 %}

{% import 'components/_macros.njk' as macros %}

{% block content %}

    <section class="page content">
        {% include 'parts/_pager.njk' %}

        <h2 class="block-title block-title_big-icon page__title">
            <i>
                {{ macros.svgIcon('graph','gold') }}
            </i>
            <span>Центр поддержки предпринимательства</span>
        </h2>

        <div class="page__content flex-container">
            {% include 'parts/_growing-aside.njk' %}

            <div class="page__right">
                <div class="about b-content__desc b-h5">
                    <p><span class="b-h4 b-fw_500">О нас:</span></p>
                    <p>В рамках реализации государственной программы Кировской области «Развитие предпринимательства и
                        внешних связей» на 2013 – 2020 годы, утвержденной постановлением Правительства Кировской области
                        от 10.12.2012 № 185/741, в феврале 2017 года на базе Кировского областного фонда поддержки
                        предпринимательства был создан Центр поддержки предпринимательства.</p>
                    <p>Основной задачей Центра поддержки предпринимательства является оказание на безвозмездной основе
                        комплекса информационно-консультационных услуг, направленных на содействие развитию субъектов
                        малого и среднего предпринимательства Кировской области.</p>
                    <p><span class="b-h4 b-fw_500">Направления деятельности</span></p>
                    <p><span class="b-h4 b-fw_500">Оказание для СМСП комплекса бесплатных консультационных услуг:</span></p>
                    <p>- по вопросам финансового планирования (бюджетирование, оптимизация налогообложения,
                        бухгалтерские услуги, привлечение инвестиций и займов);</p>
                    <p>- по вопросам маркетингового сопровождения деятельности и бизнес-планированию субъектов малого и
                        среднего предпринимательства (разработка маркетинговой стратегии и планов, рекламной кампании,
                        дизайна, разработка и продвижение бренда, организация системы сбыта продукции);</p>
                    <p>- по вопросам правового обеспечения деятельности (в том числе составление и экспертиза договоров,
                        соглашений, учредительных документов, должностных регламентов и инструкций, обеспечение
                        представительства в судах общей юрисдикции, арбитражном и третейском судах, составление
                        направляемых в суд документов (исков, отзывов и иных процессуальных документов), обеспечение
                        представления интересов субъектов малого и среднего предпринимательства в органах
                        государственной власти и органах местного самоуправления при проведении мероприятий по
                        контролю);</p>
                    <p>- по вопросам применения трудового законодательства Российской Федерации, по подбору
                        персонала;</p>
                    <p>- предоставление информации о возможностях получения кредитных и иных финансовых ресурсов.</p>
                    <p><span class="b-h4 b-fw_500">Проведение для СМСП семинаров, конференций, форумов, круглых столов.</span></p>
                    <p><span class="b-h4 b-fw_500">Организация и проведение специальных программ обучения, направленных на популяризацию
                            предпринимательства региона и начала собственного дела.</span></p>
                    <p><span class="b-h4 b-fw_500">Обеспечение участия субъектов малого и среднего предпринимательства в выставочно-ярмарочных и
                            конгрессных мероприятиях:</span></p>
                    <p>на территории Российской Федерации, в целях продвижения товаров (работ, услуг) субъектов малого и
                        среднего предпринимательства Кировской области, развития предпринимательской деятельности.</p>
                    <p>Участие субъектов малого и среднего предпринимательства Кировской области в мероприятиях
                        осуществляется на БЕСПЛАТНОЙ основе.</p>
                    <p>*В случае недостаточности выделенных на мероприятия средств субсидии, участие субъектов МСП в
                        выставочно-ярмарочных мероприятиях осуществляется на условиях софинансирования.</p>
                </div>

                <div class="links">
                    <a href="#" class="links__link">
                        <svg class="svg-icon icon-link-1"><use xlink:href="#icon-link-1"></use></svg>
                        <span>Итоги работы</span>
                    </a>

                    <a href="#" class="links__link">
                        {{ macros.svgIcon('winner-doc', 'white') }}
                        <span>Сертификаты</span>
                    </a>

                    <a href="#" class="links__link">
                        <svg class="svg-icon icon-link-3"><use xlink:href="#icon-link-3"></use></svg>
                        <span>Реестр получателей <br> поддержки</span>
                    </a>

                </div>
            </div>

        </div>
    </section>

    {% include 'parts/_question.njk' %}

{% endblock content %}
