{% extends 'base.njk' %}

{% set pageName = 'ПРОФИЛЬ' %}
{% set asideActiveId = 6 %}

{% import 'components/_macros.njk' as macros %}

{% block content %}

    <section class="page profile content">
        {% include 'parts/_pager.njk' %}

        <h2 class="block-title page__title">
            <i>
                {{ macros.svgIcon('user','gold','','','32px') }}
            </i>
            <span>ПРОФИЛЬ</span>
        </h2>

        <div class="profile__content flex-container">
            {% include 'parts/_profile-aside.njk' %}

            <div class="profile__right">
                <form action=".php" class="app">
                    <p class="app__title">
                        Заявление о предоставлении услуги центром «Мой бизнес» <br>
                        по направлению деятельности центра поддержки предпринимательства
                    </p>

                    <input type="text" class="app__field app__field_big" placeholder="ФИО/Наименование организации">

                    <div class="app__checkboxes">
                        <p class="app__checkboxes-title">
                            прошу предоставить услугу:
                        </p>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Информирование по вопросам экспортной деятельности;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Консультирование по вопросам экспортной деятельности, в том числе посредством привлечения сторонних экспертов;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Содействие в формировании и продвижении экспортного и соответствующего инвестиционного предложения, в том числе в подготовке и переводе на иностранные языки презентационных и других материалов;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Организация встреч и переговоров с иностранными субъектами предпринимательской деятельности на территории субъекта Российской Федерации, в том числе предоставление помещения для переговоров, техническое и лингвистическое сопровождение переговоров, оплата расходов по проживанию и проезду иностранных партнеров к месту проведения переговоров;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Создание и (или) модернизация сайта экспортно ориентированного субъекта малого и среднего предпринимательства в информационно-телекоммуникационной сети «Интернет», содержащего контактную информацию о таком субъекте, а также информацию о производимых им товарах (выполняемых работах, оказываемых услугах), в том числе на иностранном языке;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Содействие в организации участия субъектов малого и среднего предпринимательства в международных выставочно-ярмарочных и конгрессных мероприятиях на территории Российской Федерации и за пределами территории Российской Федерации;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Организация конференций, форумов и иных публичных мероприятий по тематике экспортной деятельности для субъектов малого и среднего предпринимательства;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Содействие в организации участия экспортно ориентированных субъектов малого и среднего предпринимательства в международных бизнес-миссиях;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Содействие в организации участия экспортно ориентированных субъектов малого и среднего предпринимательства в межрегиональных бизнес-миссиях в случае прибытия делегации иностранных предпринимателей – потенциальных покупателей продукции субъектов малого и среднего предпринимательства в другой субъект Российской Федерации;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Содействие в приведении товаров (работ, услуг) в соответствие с требованиями, необходимыми для экспорта товаров (работ, услуг);
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Содействие в обеспечении защиты и оформлении прав на результаты интеллектуальной деятельности и приравненные к ним средства индивидуализации юридических лиц, товаров, работ, услуг и предприятий, которым предоставляется правовая охрана в Российской Федерации и за пределами территории Российской Федерации, включая проведение патентных исследований, в целях определения текущей патентной ситуации на зарубежных рынках продукции, предусмотренных проектами экспортно ориентированных субъектов малого и среднего предпринимательства, в том числе проверка возможности свободного использования продукции без опасности нарушения действующих патентов; анализ для определения потенциальных контрагентов и конкурентов, выявления и отбора объектов лицензий, приобретения патента;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Содействие в проведении маркетинговых исследований – сбора, накопления и анализа данных о состоянии и тенденциях изменения рынков, сегментов и отдельных их участников и институтов, которые могут оказать влияние на положение компании или ее отдельных продуктов на рынке, являющихся основанием для принятия маркетинговых и управленческих решений, по выводу конкретного продукта субъекта малого и среднего предпринимательства на иностранный рынок;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Подготовка и экспертиза экспортного контракта по запросу субъекта малого и среднего предпринимательства;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Содействие в размещении субъекта малого и среднего предпринимательства на международных электронных торговых площадках, в том числе содействие в регистрации учетной записи (аккаунта) субъекта малого и среднего предпринимательства на международных торговых площадках, а также ежемесячном продвижении продукции субъекта малого и среднего предпринимательства на торговой площадке;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Содействие в поиске и подборе иностранного партнера, в том числе поиск потенциальных иностранных партнеров по запросу субъекта предпринимательства, налаживание связи с потенциальными иностранными партнерами, включая ведение коммерческой корреспонденции, первичные телефонные переговоры и (или) переговоры с использованием видеоконференцсвязи, пересылку пробной продукции, проверку деловой репутации потенциального партнера, содействие в проведении деловых переговоров, экспертизу экспортного контракта, консультирование по логистическим и таможенным вопросам;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Проведение семинаров, вебинаров, мастер-классов и других информационно-образовательных мероприятий, в том числе по модулям акционерного общества «Российский экспортный центр» при получении статуса оператора автономной некоммерческой организации дополнительного профессионального образования «Школа экспорта Акционерного общества «Российский экспортный центр»;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Организация индивидуальных поездок субъекта предпринимательства за пределы территории Российской Федерации с целью проведения переговоров с потенциальным покупателем товаров (работ, услуг) и последующим заключением экспортного контракта;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Содействие в получение услуг и мер поддержки других организаций, включая институты развития, фонды федерального значения.
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Иное.
                            </span>
                        </label>

                    </div><!--app__checkboxes-->

                    <textarea class="app__field app__field_question app__field_big" placeholder="Содержание вопроса"></textarea>

                    <div class="app__cols spacer">
                        <div class="app__col">
                            <input type="text" class="app__field" placeholder="ФИО представителя заявителя">
                            <input type="text" class="app__field" placeholder="Контактный телефон">
                            <input type="text" class="app__field" placeholder="ИНН юр. лица / ИНН ИП / ИНН физ. лица">
                        </div><!--app__col-->

                        <div class="app__col">
                            <input type="text" class="app__field" placeholder="Должность (для юр. лиц и ИП)">
                            <input type="text" class="app__field" placeholder="E-mail">
                            <input type="text" class="app__field" placeholder="Сфера деятельности (планируемая сфера деятельности)">
                        </div><!--app__col-->

                    </div><!--app__cols-->

                    <textarea class="app__field app__field_text" placeholder="Адрес место нахождения (для юр. лиц) / &#10;адрес регистрации и фактический адрес (для ИП и физ. лиц)"></textarea>

                    <p class="app__info">
                        Я, как субъект персональных данных, в соответствии с требованиями Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных», действуя своей волей и в своем интересе, даю свое согласие
                        <br>
                        Кировскому областному фонду поддержки малого и среднего предпринимательства (микрокредитная компания) ИНН 4345045088 ОГРН 1024301308448, адрес (место нахождения): 610000, Кировская область, город Киров, Динамовский проезд, дом 4 (далее – Оператор),
                        на обработку своих персональных данных, на следующих условиях: <br>
                        Перечень персональных данных, передаваемых Оператору на обработку: <br>
                        ·	фамилия, имя, отчество; <br>
                        ·	наименование организации / ФИО, должность; <br>
                        ·	контактная информация (телефон, e-mail); <br>
                        ·	сфера деятельности (планируемая сфера деятельности); <br>
                        ·	адрес регистрации и фактический адрес. <br>
                        Субъект дает согласие на обработку Оператором своих персональных данных любым способом, включая: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных, как с использованием средств автоматизации в электронной форме, так и в документальной форме.
                        <br>
                        Согласие на обработку персональных данных дано в целях получения заявителем услуг, оказываемых Оператором и (или) третьими лицами по поручению Оператора.
                        <br>
                        Согласие на обработку персональных данных действует в течение 5 (пяти) лет.
                        <br>
                        Согласие на обработку персональных данных может быть отозвано заявителем в любой момент на основании письменного заявления субъекта персональных данных.
                        <br>
                        В случае предоставления заявителем персональных данных третьих лиц заявитель заявляет и гарантирует, что им получено согласие этих лиц на передачу, обработку и распространение их персональных данных Оператору.
                    </p>

                    <p class="app__info">
                        ___________________________________ <br>
                        подпись субъекта персональных данных
                    </p>

                    <p class="app__info app__info_big">
                        Подписывая настоящее заявление, заявитель подтверждает, что все предоставляемые сведения и прилагаемые документы являются подлинными и достоверными.
                    </p>

                    <p class="app__info">
                        Руководитель юридического лица / индивидуальный предприниматель / физическое лицо:
                    </p>

                    <p class="app__info">
                        _________________________/________________________ <br>
                        <small>м.п. (при наличии)  подпись</small> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small>расшифровка</small>
                    </p>

                    <p class="app__info">
                        «___» __________ 20___г.
                    </p>

                    <p class="app__info">
                        Заполняется получателями услуг юридическими лицами или индивидуальными предпринимателями:
                    </p>

                    <p class="app__info">
                        Подтверждаю, что _________________________________________________________________
                        <br>
                        (фамилия, имя, отчество (при наличии) индивидуального предпринимателя/наименование юридического лица)
                    </p>

                    <p class="app__info app__info_big">
                        - является субъектом малого / среднего предпринимательства (далее - СМСП), который соответствует критериям, установленным статьей 4 Федерального закона от 24 июля 2007 года № 209-ФЗ «О развитии малого и среднего предпринимательства в Российской Федерации» (далее – ФЗ № 209-ФЗ), с учетом требований, предъявляемых частью 3 статьи 14 ФЗ № 209-ФЗ;
                        <br>
                        - сведения о СМСП включены в Единый реестр субъектов малого и среднего предпринимательства;
                        <br>
                        - СМСП зарегистрирован и осуществляет свою деятельность на территории Кировской области.
                    </p>

                    <p class="app__info">
                        ___________________________________ <br>
                        <i>подпись уполномоченного лица</i>
                    </p>

                </form>

            </div>

        </div><!--profile__content-->

    </section><!--page-->

{% endblock content %}
