{% extends 'base.njk' %}

{% set pageName = 'ПРОФИЛЬ' %}
{% set asideActiveId = 6 %}

{% import 'components/_macros.njk' as macros %}

{% block content %}

    <section class="page profile content">
        {% include 'parts/_pager.njk' %}

        <h2 class="block-title page__title">
            <i>
                {{ macros.svgIcon('user','gold','','','32px') }}
            </i>
            <span>ПРОФИЛЬ</span>
        </h2>

        <div class="profile__content flex-container">
            {% include 'parts/_profile-aside.njk' %}

            <div class="profile__right">
                <form action=".php" class="app">
                    <p class="app__title">
                        Заявление о предоставлении услуги центром «Мой бизнес» <br>
                        по направлению деятельности центра кластерного развития
                    </p>

                    <input type="text" class="app__field app__field_big" placeholder="ФИО/Наименование организации">

                    <div class="app__checkboxes">
                        <p class="app__checkboxes-title">
                            прошу предоставить услугу:
                        </p>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Оказание содействия участникам территориальных кластеров при получении государственной поддержки;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Оказание содействия в выводе на рынок новых продуктов (работ, услуг) участников территориальных кластеров;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Организация бизнес-миссий для участников кластеров (стажировок, обмен опытом), обеспечение участия в мероприятиях на крупных российских и международных выставочных площадках;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Продвижение товаров (работ, услуг) на конгрессно-выставочных мероприятиях;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Оказание маркетинговых услуг (проведение маркетинговых исследований, направленных на анализ различных рынков, исходя из потребностей участников территориальных кластеров);
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Оказание услуг по позиционированию товаров (работ, услуг);
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Организация и проведение обучающих тренингов, семинаров с привлечением сторонних организаций с целью обучения сотрудников субъектов малого и среднего предпринимательства;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Организация вебинаров, круглых столов для участников территориальных кластеров;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Разработка технико-экономических обоснований, экспертиза сметной стоимости для реализации совместных проектов;
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Проведение информационных кампаний в средствах массовой информации для участников территориальных кластеров по освещению деятельности территориальных кластеров и перспектив их развития.
                            </span>
                        </label>

                        <label class="app__checkbox">
                            <input type="checkbox">
                            <i></i>
                            <span>
                                Иное.
                            </span>
                        </label>

                    </div><!--app__checkboxes-->

                    <textarea class="app__field app__field_question app__field_big" placeholder="Содержание вопроса"></textarea>

                    <div class="app__cols spacer">
                        <div class="app__col">
                            <input type="text" class="app__field" placeholder="ФИО представителя заявителя">
                            <input type="text" class="app__field" placeholder="Контактный телефон">
                            <input type="text" class="app__field" placeholder="ИНН юр. лица / ИНН ИП / ИНН физ. лица">
                        </div><!--app__col-->

                        <div class="app__col">
                            <input type="text" class="app__field" placeholder="Должность (для юр. лиц и ИП)">
                            <input type="text" class="app__field" placeholder="E-mail">
                            <input type="text" class="app__field" placeholder="Сфера деятельности (планируемая сфера деятельности)">
                        </div><!--app__col-->

                    </div><!--app__cols-->

                    <textarea class="app__field app__field_text" placeholder="Адрес место нахождения (для юр. лиц) / &#10;адрес регистрации и фактический адрес (для ИП и физ. лиц)"></textarea>

                    <p class="app__info">
                        Я, как субъект персональных данных, в соответствии с требованиями Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных», действуя своей волей и в своем интересе, даю свое согласие
                        <br>
                        Кировскому областному фонду поддержки малого и среднего предпринимательства (микрокредитная компания) ИНН 4345045088 ОГРН 1024301308448, адрес (место нахождения): 610000, Кировская область, город Киров, Динамовский проезд, дом 4 (далее – Оператор),
                        на обработку своих персональных данных, на следующих условиях: <br>
                        Перечень персональных данных, передаваемых Оператору на обработку: <br>
                        ·	фамилия, имя, отчество; <br>
                        ·	наименование организации / ФИО, должность; <br>
                        ·	контактная информация (телефон, e-mail); <br>
                        ·	сфера деятельности (планируемая сфера деятельности); <br>
                        ·	адрес регистрации и фактический адрес. <br>
                        Субъект дает согласие на обработку Оператором своих персональных данных любым способом, включая: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных, как с использованием средств автоматизации в электронной форме, так и в документальной форме.
                        <br>
                        Согласие на обработку персональных данных дано в целях получения заявителем услуг, оказываемых Оператором и (или) третьими лицами по поручению Оператора.
                        <br>
                        Согласие на обработку персональных данных действует в течение 5 (пяти) лет.
                        <br>
                        Согласие на обработку персональных данных может быть отозвано заявителем в любой момент на основании письменного заявления субъекта персональных данных.
                        <br>
                        В случае предоставления заявителем персональных данных третьих лиц заявитель заявляет и гарантирует, что им получено согласие этих лиц на передачу, обработку и распространение их персональных данных Оператору.
                    </p>

                    <p class="app__info">
                        ___________________________________ <br>
                        подпись субъекта персональных данных
                    </p>

                    <p class="app__info app__info_big">
                        Подписывая настоящее заявление, заявитель подтверждает, что все предоставляемые сведения и прилагаемые документы являются подлинными и достоверными.
                    </p>

                    <p class="app__info">
                        Руководитель юридического лица / индивидуальный предприниматель / физическое лицо:
                    </p>

                    <p class="app__info">
                        _________________________/________________________ <br>
                        <small>м.п. (при наличии)  подпись</small> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small>расшифровка</small>
                    </p>

                    <p class="app__info">
                        «___» __________ 20___г.
                    </p>

                    <p class="app__info">
                        Заполняется получателями услуг юридическими лицами или индивидуальными предпринимателями:
                    </p>

                    <p class="app__info">
                        Подтверждаю, что _________________________________________________________________
                        <br>
                        (фамилия, имя, отчество (при наличии) индивидуального предпринимателя/наименование юридического лица)
                    </p>

                    <p class="app__info app__info_big">
                        - является субъектом малого / среднего предпринимательства (далее - СМСП), который соответствует критериям, установленным статьей 4 Федерального закона от 24 июля 2007 года № 209-ФЗ «О развитии малого и среднего предпринимательства в Российской Федерации» (далее – ФЗ № 209-ФЗ), с учетом требований, предъявляемых частью 3 статьи 14 ФЗ № 209-ФЗ;
                        <br>
                        - сведения о СМСП включены в Единый реестр субъектов малого и среднего предпринимательства;
                        <br>
                        - СМСП зарегистрирован и осуществляет свою деятельность на территории Кировской области.
                    </p>

                    <p class="app__info">
                        ___________________________________ <br>
                        <i>подпись уполномоченного лица</i>
                    </p>

                </form>

            </div>

        </div><!--profile__content-->

    </section><!--page-->

{% endblock content %}
