{% extends 'base.njk' %}

{% set pageName = 'Поиск' %}
{% set breadcrumbs = [{'name':'Главная','url':'index'}] %}

{% import 'components/_macros.njk' as macros %}

{% block content %}

    <section class="page content">
        {% include 'parts/_pager.njk' %}

        <h2 class="block-title page__title">
            <i>{{ macros.svgIcon('magnify', 'gold') }}</i>
            <span>Поиск</span>
        </h2>

        <div class="b-space"></div>

        <div class="b-h4 b-fw_600">Субсидии бизнесу</div>
        <div class="b-h6">Результаты поиска 2-2 из 2</div>

        <div class="b-space"></div>
        <div class="b-space"></div>

        <h2 class="block-title page__title">
            <i class="b-icon b-icon_newspaper"></i>
            <span>Новости</span>
        </h2>

        <div class="b-space"></div>

        <div class="b-news-item">
            <img src="./assets/images/news-item.jpg" class="b-news-item__img" alt="news">
            <div class="b-news-item__title">СУБСИДИИ БИЗНЕСУ</div>
            <div class="b-news-item__date">9 сентября</div>
            <div class="b-news-item__tags">
                <a href="#">#субсидии</a>
                <a href="#">#бизнес</a>
                <a href="#">#мойбизнес22</a>
            </div>
        </div>

        <div class="b-space"></div>
        <div class="b-space"></div>

        <h2 class="block-title page__title">
            <i class="b-icon b-icon_calendar"></i>
            <span>Календарь событий</span>
        </h2>

        <div class="b-space"></div>

        <div class="b-block-grid b-block-grid_small_1 b-block-grid_medium_2 b-block-grid_xlarge_3">
            <div class="b-block-grid__item">
                <div class="events__item events__item_fh events__item_m0 va-middle">
                    <span class="events__item-month events__item-month_right">Сентябрь</span>
                    <span class="events__item-day">9</span>

                    <div class="events__item-right">
                        <p class="events__item-date">
                            <span>2019-09-09</span> <span>09:37:46</span>
                        </p>

                        <a href="#" class="events__item-title" tabindex="0">
                            СУБСИДИИ БИЗНЕСУ
                        </a>

                        <div class="tags">
                            <a href="#" class="tags__tag" tabindex="0">#субсидии</a>
                            <a href="#" class="tags__tag" tabindex="0">#бизнес</a>
                            <a href="#" class="tags__tag" tabindex="0">#мойбизнес22</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!--page-->

{% endblock content %}
