{% extends 'base.njk' %}

{% set pageName = 'Займы бизнесу' %}
{% set breadcrumbs = [
    {'name':'Главная','url':'index'},
    {'name':'Финансовая поддержка','url':'types-2'}
] %}

{% import 'components/_macros.njk' as macros %}

{% block content %}

    <section class="page content">
        {% include 'parts/_pager.njk' %}

        <h2 class="block-title block-title_no-icon page__title">
            <span>Льготные займы</span>
        </h2>

        <div class="b-space"></div>

        <div class="b-h5 b-fw_500">Стандартные заемные продукты:</div>

        <div class="b-space_sm"></div>

        <div class="b-table">
            <table>
                <thead>
                <tr>
                    <th width="327">Цель/Срок займа</th>
                    <th>Сумма займа</th>
                    <th>0-12 мес.</th>
                    <th>13-24 мес.</th>
                    <th>25-36 мес.</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Пополнение<br>
                        оборотных<br>
                        средств
                    </th>
                    <td>до 3 млн.руб.</td>
                    <td>9,5%</td>
                    <td>9,5%</td>
                    <td>10%*</td>
                </tr>
                <tr>
                    <th>Приобретение основных средств и/или строительства, реконструкции, приобретение нежилых
                        помещений, используемых Заемщиком для осуществления предпринимательской деятельности
                        (коммерческая недвижимость)
                    </th>
                    <td>до 4 млн.руб.</td>
                    <td>9,0%</td>
                    <td>9,0%</td>
                    <td>9,5%</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="b-space_sm"></div>

        <div class="b-h6">* за исключением займов, предоставляемых субъектам малого и среднего предпринимательства,
            занимающихся торговлей.
        </div>

        <div class="b-space_md"></div>

        <div class="b-h5 b-fw_500">Специальные заемные продукты:</div>

        <div class="b-space_sm"></div>

        <div class="b-table">
            <table>
                <thead>
                <tr>
                    <th width="443">Наименование продукта</th>
                    <th>Сумма займа</th>
                    <th>Срок займа</th>
                    <th width="337">Процентная ставка</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>1. Микрозаймы субъектам малого и среднего предпринимательства, осуществляющим деятельность в
                        приоритетных видах экономической деятельности
                    </th>
                    <td></td>
                    <td></td>
                    <td>9%</td>
                </tr>
                <tr>
                    <th>2. Микрозаймы субъектам малого и среднего предпринимательства при реализации приоритетных
                        проектов при наличии залогового обеспечения
                    </th>
                    <td></td>
                    <td></td>
                    <td>ключевая ставка Банка России, установленная на дату заключения договора займа</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="b-space_sm"></div>

        <div class="b-h6">* Cумма основного долга заемщика перед Фондом по всем займам, не может превышать 3 000 000
            (три миллиона) рублей, а в случае необходимости получения займов для целей приобретения основных средств
            и/или осуществления строительства, реконструкции, приобретения нежилых помещений, используемых Заемщиком для
            осуществления предпринимательской деятельности (коммерческая недвижимость), совокупный размер основного
            долга заемщика перед Фондом не может превышать 4 000 000 (четыре миллиона) рублей.
        </div>

        <div class="b-space"></div>
        <div class="b-space_sm b-visible_large_up"></div>

        <div class="b-h6">Перечень документов, необходимых для получения займа. <a href="#" class="b-btn b-btn_red b-btn_h24 b-btn_shadow">Скачать</a></div>

    </section><!--page-->

{% endblock content %}
