{% extends 'base.njk' %}

{% set pageName = 'Предоставление поручительств МСП' %}
{% set breadcrumbs = [
    {'name':'Главная','url':'index'},
    {'name':'Финансовая поддержка','url':'types-2'},
    {'name':'Поручительство по кредитам','url':'types-3'}
] %}

{% import 'components/_macros.njk' as macros %}

{% block content %}

    <section class="page content">
        {% include 'parts/_pager.njk' %}

        <h2 class="block-title block-title_no-icon page__title">
            <span>Предоставление поручительств по банковским кредитам совместно с АО «Федеральная корпорация по развитию малого и среднего предпринимательства»</span>
        </h2>

        <div class="b-space"></div>

        <div class="b-content__desc b-h6">
            <p>АО «Федеральная корпорация по развитию малого и среднего предпринимательства» (АО «Корпорация «МСП»)
                учреждено решением Правительства РФ № 740-р от 5 мая 2014 года.</p>
            <p>Корпорация — финансовый институт развития малого и среднего предпринимательства (МСП), предоставляющий
                банковские гарантии по кредитам и иным долговым обязательствам на условиях разделения рисков с банками и
                иными финансовыми организациями.</p>
        </div>

        <div class="b-space_sm"></div>

        <div class="b-h5 b-fw_600 b-ta_center">Многоканальная система гарантийных продуктов Национальной Гарантийной
            Системы
        </div>

        <div class="b-space_sm"></div>

        <div class="b-table b-table_2">
            <table>
                <thead>
                <tr>
                    <th width="156">Организация</th>
                    <th width="347">Продукты</th>
                    <th width="347">Лимит гарантийной поддержки</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Корпорация</td>
                    <td>
                        <ul class="b-ta_left">
                            <li>Предоставление гарантий для средних и крупных проектов</li>
                            <li>Предоставление поручительств в рамках Программы стимулирования кредитования СМСП</li>
                        </ul>
                    </td>
                    <td>От 100 млн. рублей</td>
                </tr>
                <tr>
                    <td>МСП Банк</td>
                    <td>
                        <ul class="b-ta_left">
                            <li>Предоставление гарантий субъектам малого и среднего предпринимательства</li>
                        </ul>
                    </td>
                    <td>25 - 100 млн. рублей</td>
                </tr>
                <tr>
                    <td>РГО</td>
                    <td>
                        <ul class="b-ta_left">
                            <li>Предоставление гарантий субъектам малого и среднего предпринимательства</li>
                        </ul>
                    </td>
                    <td>До 25 млн. рублей</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="b-space_md"></div>

        <div class="b-h5 b-fw_600 b-ta_center">Схема предоставления гарантии</div>

        <div class="b-space"></div>
        <div class="b-space_sm b-visible_large_up"></div>

        <a href="./assets/images/scheme.jpg" data-fancybox>
            <img src="./assets/images/scheme.jpg" alt="scheme">
        </a>

        <div class="b-space"></div>

        <div class="b-h5 b-fw_600 b-ta_center">Продукты Корпорации с участием региональной гарантийной организации
            КОФПМСП МКК
        </div>

        <div class="b-space_sm"></div>

        <div class="b-content__desc b-h6">
            <ul>
                <li>
                    <span class="b-h5 b-fw_600">Контргарантия</span> – это совместный продукт Корпорации и РГО, в
                    котором Корпорация предоставляет
                    независимую гарантию в пользу банка в целях обеспечения исполнения обязательств РГО по договору
                    поручительства.
                    <div class="b-space_sm"></div>
                    <span class="b-fw_600">Вознаграждение:</span><br>
                    <span class="b-color_red">1,25% годовых</span> от суммы гарантии за весь срок действия гарантии
                    При сумме гарантии более 50 млн. рублей вознаграждение за гарантию подлежит ежегодному
                    перерасчету исходя из суммы основного долга по Кредиту по состоянию на дату начала следующего
                    финансового года*
                </li>
                <li>
                    <span class="b-h5 b-fw_600">Синдицированная гарантия</span> – это совместный продукт Корпорации и
                    РГО, в котором Корпорация предоставляет независимую гарантию в пользу банка в целях обеспечения
                    исполнения обязательств субъекта МСП по Кредитному договору. Обязательным условием выдачи
                    гарантии Корпорации является наличие поручительства РГО в структуре обеспечения кредита.
                    <div class="b-space_sm"></div>
                    <span class="b-fw_600">Вознаграждение:</span><br>
                    <span class="b-color_red">1,25% годовых</span> от суммы гарантии за весь срок действия гарантии
                    При сумме гарантии более 50 млн. рублей вознаграждение за гарантию подлежит ежегодному
                    перерасчету исходя из суммы основного долга по Кредиту по состоянию на дату начала следующего
                    финансового года*
                </li>
                <li>
                    <span class="b-h5 b-fw_600">Прямая гарантия, выдаваемая совместно с поручительством РГО (Согарантия)</span>
                    – это совместный продукт Корпорации МСП и РГО, в котором Корпорация предоставляет прямую
                    гарантию в пользу банка в целях обеспечения исполнения обязательств субъекта МСП по Кредитному
                    договору. Обязательным условием предоставления гарантии Корпорацией является наличие
                    поручительства РГО в структуре обеспечения исполнения обязательств субъекта МСП по кредитному
                    договору. Гарантия Корпорации МСП и поручительство РГО совместно обеспечивают исполнение
                    обязательств заемщика в пределах 70% от суммы кредитных требований банка к заемщику.
                    <div class="b-space_sm"></div>
                    <span class="b-fw_600">Вознаграждение:</span><br>
                    <span class="b-color_red">0,75% годовых</span> от суммы гарантии за весь срок действия гарантии
                    При сумме гарантии более 50 млн. рублей вознаграждение за гарантию подлежит ежегодному
                    перерасчету исходя из суммы основного долга по Кредиту по состоянию на дату начала следующего
                    финансового года*
                </li>
            </ul>
        </div>
    </section>

    {% include 'parts/_question.njk' %}

{% endblock content %}
