{% extends 'base.njk' %}

{% set pageName = 'Предоставление поручительств МКК' %}
{% set breadcrumbs = [
    {'name':'Главная','url':'index'},
    {'name':'Финансовая поддержка','url':'types-2'},
    {'name':'Поручительство по кредитам','url':'types-3'}
] %}

{% import 'components/_macros.njk' as macros %}

{% block content %}

    <section class="page content">
        {% include 'parts/_pager.njk' %}

        <h2 class="block-title block-title_no-icon page__title">
            <span>Предоставление поручительств по банковским кредитам</span>
        </h2>

        <div class="b-space"></div>

        <div class="b-content__desc b-h5">
            <p>Гарантийное кредитование дает возможность представителям бизнеса Кирова и Кировской области получить
                необходимые заемные ресурсы, не имея достаточного обеспечения по кредиту в банке.</p>
            <p>Гарантийное кредитование заключается в предоставлении Фондом поручительств по банковским кредитам,
                выданным представителям малого и среднего бизнеса, то есть, если у предпринимателя не хватает залогового
                обеспечения для получения нужной суммы кредита, он вместе с банком может обратиться в Фонд за получением
                поручительства.</p>
            <p>Предприниматель может обратиться за кредитом в один из банков-партнеров Фонда, при этом ему достаточно
                иметь обеспечение в размере всего 30 процентов от предполагаемой суммы кредита, на оставшуюся часть
                поручится Фонд</p>
        </div>

        <div class="b-space"></div>

        {#<div class="b-steps">
            {% for item in [

                {'icon':'building','desc':'Предприниматель обращается в банк за кредитом'},
                {'icon':'thinking','desc':'Банк приимает решение о возможности предоставления кредита'},
                {'icon':'check-list','desc':'Банк направляет заявку в Областной фонд на получение поручительства'},
                {'icon':'tet-a-tet','desc':'Областной фонд в течение 3 дней рассматривает заявку'},
                {'icon':'deal','desc':'При положительном решении предприниматель, банк и фонд подписывают договор поручительства'},
                {'icon':'cash','desc':'Иду в банк за деньгами... Банк предоставляет предпринимателю кредит!'}

            ] %}
                <div class="b-steps__col {% if loop.index == 6 %}b-steps__col_last{% endif %}">
                    <div class="b-steps-item">
                        <div class="b-steps-item__wrapper">
                            <div class="b-steps-item__icon">{{ macros.svgIcon(item.icon) }}</div>
                            <div class="b-steps-item__desc">
                                <p class="b-steps-item__count">{{ loop.index }}.</p>
                                <p>{{ item.desc }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="b-steps__arrow"><i class="b-icon b-icon_dot-arrow"></i></div>
                </div>
            {% endfor %}
        </div>#}

        <a href="./assets/images/steps.jpg" data-fancybox>
            <img src="./assets/images/steps.jpg" alt="steps">
        </a>

        <div class="b-space_sm"></div>

        <div class="b-h4 b-fw_500">Обязательные условия к субъектам малого и среднего предпринимательства, желающих получить
            поручительство Фонда:
        </div>

        <div class="b-space_xs"></div>

        <div class="b-content__desc b-h5">
            <p>Зарегистрированных на территории Кировской области в соответствии с Федеральным законом от 08.08.2001 №
                129-ФЗ «О государственной регистрации юридических лиц и индивидуальных предпринимателей».<br>
                Относящихся к категории субъектов малого и среднего предпринимательства в соответствии с требованиями
                Федерального закона от 24.07.2007 № 209-ФЗ «О развитии малого и среднего предпринимательства в
                Российской Федерации» для данной категории.<br>
                Осуществляющих хозяйственную деятельность на дату обращения за получением поручительства/независимой
                гарантии Фонда:<br>
                На территории Кировской области.<br>
                Не менее 3 (трех) месяцев.<br>
                Не имеющих на дату подачи заявки на предоставление поручительства и (или) независимой гарантии Фонда
                просроченной задолженности по начисленным налогам, сборам, соответствующим пеням, штрафам.<br>
                В отношении которых не применяются процедуры несостоятельности (банкротства), в том числе наблюдение,
                финансовое оздоровление, внешнее управление, конкурсное производство, либо санкции в виде аннулирования
                или приостановления действия лицензии (в случае, если деятельность подлежит лицензированию).<br>
                Предоставивших обеспечение своих обязательств по кредитному договору/договору о предоставлении
                банковской гарантии в размере не менее 30 (тридцати) % от суммы обязательств (фактически полученной
                суммы кредита и начисленных процентов/размера банковской гарантии).
            </p>
        </div>

        <div class="b-space_xs"></div>

        <div class="b-h4 b-fw_500">Расчет вознаграждения за предоставление Фондом поручительств и (или) независимых гарантий
            производится по следующей формуле:
        </div>

        <div class="b-space_xs"></div>

        <div class="b-h4 b-fw_500">Рв = Сп*Р*К/365 (366), где:</div>

        <div class="b-space_xs"></div>

        <div class="b-content__desc b-h5">
            <p>Рв - размер вознаграждения;<br>
                Сп - сумма поручительства (гарантии) (в рублях);<br>
                Р - процентная ставка стоимости поручительства (гарантии);<br>
                К – срок действия поручительства (гарантии) в днях.<br>
                Процентная ставка стоимости поручительства (гарантии) определяется в зависимости от суммы
                предоставляемого поручительства (гарантии) и составляет:
            </p>
            <p>0,5% годовых от суммы поручительства (гарантии) от 10 000 001 рублей и не более максимального объема
                единовременно выдаваемого поручительства и (или) независимой гарантии в отношении одного субъекта малого
                и среднего предпринимательства, установленного на 1 (первое) числа текущего финансового года;<br>
                0,75% годовых от суммы поручительства (гарантии) от 7 000 001 рублей и не более 10 000 000 рублей;<br>
                1,0% годовых от суммы поручительства (гарантии) от 5 000 001 рублей и не более 7 000 000 рублей;<br>
                1,25% годовых от суммы поручительства (гарантии) от 3 000 001 рублей и не более 5 000 000 рублей;<br>
                1,5% годовых от суммы поручительства (гарантии) от 1 000 001 рублей и не более 3 000 000 рублей;<br>
                1,75 % годовых от суммы поручительства (гарантии) от 500 001 рублей и не более 1 000 000 рублей;<br>
                2 % годовых от суммы поручительства (гарантии) не более 500 000 рублей.<br>
                Ставка вознаграждения за предоставление поручительства и (или) независимой гарантии составляет 0,5%
                годовых от суммы поручительства (гарантии), если при этом поручительства выдаются для обеспечения
                обязательств, основанных на договоре, предусматривающем финансирование в сумме не более 3 млн. руб.
            </p>
            <p>Банки-партнеры Фонда:</p>
        </div>

        <div class="b-space"></div>

        <div class="b-h5 b-fw_600">Документы для получения поручительства</div>

        <div class="b-space_sm"></div>

        <div class="b-content__desc b-h5">
            <p>Заявка <a href="#" class="b-btn b-btn_red b-btn_h24 b-btn_shadow">Скачать</a></p>
            <p>Список документов <a href="#" class="b-btn b-btn_red b-btn_h24 b-btn_shadow">Скачать</a></p>
            <p>Согласие на НБКИ для физических лиц <a href="#" class="b-btn b-btn_red b-btn_h24 b-btn_shadow">Скачать</a></p>
            <p>Согласие на НБКИ для юридических лиц <a href="#" class="b-btn b-btn_red b-btn_h24 b-btn_shadow">Скачать</a></p>
            <p>Согласие на обработку персональных данных <a href="#" class="b-btn b-btn_red b-btn_h24 b-btn_shadow">Скачать</a></p>
        </div>

    </section><!--page-->

{% endblock content %}
