<footer class="footer">
    <div class="content spacer">
        <div class="footer__left">
            <ul class="footer__links">
                <li>
                    <a href="types-2.html" class="footer__link">Финансовая поддержка</a>
                </li>

                <li>
                    <a href="growing-about.html" class="footer__link">Центр поддержки предпринимательства</a>
                </li>

                <li>
                    <a href="cluster-about.html" class="footer__link">Центр кластерного развития</a>
                </li>

                <li>
                    <a href="export-about.html" class="footer__link">Центр поддержки экспорта</a>
                </li>

            </ul>

            <a href="https://palax.info" class="dev" target="_blank" title="Создание, продвижение, обслуживание сайтов"></a>

        </div><!--footer__left-->

        <div class="footer__center">
            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">
                        Министерство экономического развития и
                        поддержки предпринимательства Кировской области
                    </a>
                </li>

                <li>
                    <a href="#" class="footer__link">Народно-художественные промыслы</a>
                </li>

                <li>
                    <a href="#" class="footer__link">
                        Уполномоченный по защите прав
                        предпринимателей
                    </a>
                </li>

                <li>
                    <a href="#" class="footer__link">Согласие на обработку персональных данных</a>
                </li>

                <li>
                    <a href="#" class="footer__link">Политика конфиденциальности</a>
                </li>

            </ul>

        </div><!--footer__center-->

        <div class="footer__right">
            <form action=".php" class="subscribe">
                <p class="subscribe__title">
                    Подпишись на
                    новостную рассылку
                </p>

                <div class="subscribe__fields">
                    <input type="text" name="email" class="subscribe__field" placeholder="Введите e-mail">
                    <button class="subscribe__btn">
                        <i class="icon icon-subscribe pos-center"></i>
                    </button>
                </div><!--subscribe__fields-->

                <p class="subscribe__privacy">
                    Подтверждаю, что я ознакомлен и согласен с
                    условиями <a href="#">политики конфиденциальности</a> и
                    даю <a href="#">согласие на обработку своих персональных данных</a>
                </p>

            </form>

            <div class="social">
                <a href="#" class="social__link">
                    <i class="icon icon-ytb-big pos-center"></i>
                </a>

                <a href="#" class="social__link">
                    <i class="icon icon-vk-big pos-center"></i>
                </a>

                <a href="#" class="social__link">
                    <i class="icon icon-fb-big pos-center"></i>
                </a>

                <a href="#" class="social__link">
                    <i class="icon icon-inst-big pos-center"></i>
                </a>

            </div><!--social-->

        </div><!--footer__right-->

    </div><!--content-->

</footer>
