<section class="question content">
    <form action=".php" class="question__form">
        <div class="question__center">
            <p class="question__title">Остались вопросы? Задайте их нам!</p>

            <div class="question__fields spacer">
                <div class="question__col">
                    <input type="text" name="name" class="question__field" placeholder="ИМЯ">
                    <input type="text" name="phone" class="question__field" placeholder="ТЕЛЕФОН">
                </div><!--question__col-->

                <div class="question__col">
                    <textarea name="message" class="question__field question__field_text" placeholder="СООБЩЕНИЕ..."></textarea>
                </div><!--question__col-->

            </div><!--question__fields-->

            <div class="question__bottom">
                <label class="question__privacy">
                    <input type="checkbox">
                    <i></i>
                    <span>
                            Настоящим я даю согласие на обработку моих
                            персональных данных в порядке, установленном
                            Федеральным Законом № 152-ФЗ "О защите
                            персональных данных"
                        </span>
                </label>

                <button class="question__btn">Отправить сообщение</button>

            </div><!--question__bottom-->

        </div><!--question__center-->

    </form>

</section>