<section class="question content">
    <form action=".php" class="question__form">
        <div class="b-row b-row_center">
            <div class="b-col b-col_small_12 b-col_large_10">
                <p class="b-h3 b-fw_500 b-color_white"><span class="b-fw_600">Зарегистрируйтесь</span><br>
                    и получите доступ к Личному кабинету с подборкой
                    сервисов и мероприятий</p>

                <div class="b-space_sm"></div>

                <div class="b-row b-row_center">
                    <div class="b-col b-col_small_12 b-col_xlarge_10">
                        <div class="b-row">
                            <div class="b-col b-col_small_12 b-col_large_4">
                                <input type="text" name="name" class="question__field question__field_radius" placeholder="ИМЯ">
                            </div>
                            <div class="b-col b-col_small_12 b-col_large_4">
                                <input type="email" name="phone" class="question__field question__field_radius" placeholder="EMAIL">
                            </div>
                            <div class="b-col b-col_small_12 b-col_large_4">
                                <input type="tel" name="phone" class="question__field question__field_radius" placeholder="ТЕЛЕФОН">
                            </div>
                        </div>

                        <div class="question__bottom">
                            <label class="question__privacy">
                                <input type="checkbox">
                                <i></i>
                                <span>Настоящим я даю согласие на обработку моих
                            персональных данных в порядке, установленном
                            Федеральным Законом № 152-ФЗ "О защите
                            персональных данных"</span>
                            </label>

                            <button class="question__btn">Зарегистрироваться</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>