<section class="registration content">
    <form action=".php" class="registration__form">
        <div class="registration__left">
            <p class="registration__title">Зарегистрироваться</p>
            <div class="registration__fields spacer">
                <label class="registration__label">
                    <input type="text" name="name" class="registration__field">
                    <span class="registration__placeholder">Ваше имя<em>*</em></span>
                </label>

                <label class="registration__label">
                    <input type="text" name="email" class="registration__field">
                    <span class="registration__placeholder">Адрес e-mail<em>*</em></span>
                </label>

                <label class="registration__label">
                    <input type="text" name="phone" class="registration__field">
                    <span class="registration__placeholder">Телефон<em>*</em></span>
                </label>

            </div><!--registration__fields-->

            <label class="registration__privacy">
                <input type="checkbox">
                <i></i>
                <span>
                        ЗАПОЛНЯЯ ФОРМУ, Я СОГЛАСЕН ПОЛУЧАТЬ ИНФОРМАЦИОННУЮ
                        РАССЫЛКУ ОТ ПРОЕКТА И ПАРТНЕРОВ ПРОЕКТА, А ТАКЖЕ
                        СОГЛАСЕН С ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ
                    </span>
            </label>

        </div><!--registration__left-->

        <button class="registration__btn">Зарегистрироваться</button>

    </form>

</section>